body {
  font-family: Helvetica;
  background-color: #F2F4F8;
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
}

.gui-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 10%;
  background-color: #1C1B12;
}

.llama-logo {
  max-width:100%;
  object-fit: contain;
  align-self: flex-start;
  padding: 10px 20px;
}

.social-links {
  display: flex;
  position: fixed;
  bottom: 0;
}

.icon-links {
  font-size: 2vw;
  margin: 8px;
  color: gray;
}

.icon-links:hover {
  color: white;
  cursor: pointer;
}

.dashboard {
  position: fixed;
  height: 100%;
  width: 90%;
  left: 10%;
}

.topbar {
  position: fixed;
  display: flex;
  background: #FCD302;
  width: 100%;
  height: 10%;
  border-bottom: 2px solid #e4e8f1;
  color: #2f2f2f;
}

.topbar a {
  text-decoration: none;
}

.topbar h3 {
  font-weight: 800;
  line-height: 64px;
  padding: 0px 5px;
  margin: 0px 20px;
  color: black;
}

.api-button {
  height: 80%;
  width: 100%;
  background-color: black;
  color: white;
  text-decoration: none;
  font-weight: 800;
  border-style: none;
  margin: 5%;
  border-radius: 10px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}

.api-button:hover {
  background-color: gray;
}

.content {
  display: flex;
  position: fixed;
  height: 90%;
  top: 10%;
  width: 90%;
  padding: 20px;
  overflow: scroll;
}

.info {
  width: 70%;
  padding: 24px;
}

.dash-wrapper {
  width: 100%;
  margin-bottom: 24px;
  padding: 24px;
  background: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(244, 244, 244);
  border-image: initial;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-top: 4px solid rgb(191, 161, 0);
}

.dash-title {
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: rgb(21, 36, 48);
  margin-top: 0px;
  margin-bottom: 7px;
}

.status {
  position: sticky;
  top: 0;
  width: 30%;
  height: 60%;
  margin: 24px;
  padding: 24px;
  background: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(244, 244, 244);
  border-image: initial;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-top: 4px solid rgb(191, 161, 0);
}

.inactive-notification {
  width: 100%;
  padding: 20px;
  background-color: #F5CFD3;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  border-radius: 4px;
  font-weight: 800;
  text-align: center;
}

.active-notification {
  width: 100%;
  padding: 20px;
  background-color: #D1F6E1;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  border-radius: 4px;
  font-weight: 800;
  text-align: center;
}

.position-titles {
  display: flex;
  width: 95%;
  justify-content: space-between;
}

.position-content {
  overflow: auto;
  height: 50vh;
}

.position {
  display: flex;
  width: auto;
  justify-content: space-between;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: rgb(0, 0, 0);
  border-radius: 2px;
  margin: 4px;
}

.ticker-box {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-family: Helvetica;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: rgb(0, 0, 0);
  border-radius: 2px;
  padding: 4px 8px;
  margin: 4px;
  width: 30%;
}

.symbol {
  font-weight: 800;
  margin: 0 10px 0 0;
}

.current-price {
  width: 15%;
  text-align: end;
}

.qty {
  width: 10%;
  text-align: end;
}

.market-value {
  width: 15%;
  text-align: end;
}

.unrealized-pl {
  width: 15%;
  text-align: end;
}

.order-buttons-title {
  width: 15%;
  text-align: end;
}

.order-symbol {
  width: 15%;
  text-align: end;
}

.order-type {
  width: 35%;
  text-align: end;
}

.filled-avg-price {
  width: 25%;
  text-align: end;
}

.order-status {
  width: 25%;
  text-align: end;
}


.order-buttons {
  align-content: flex-end;
  width: 15%;
  min-width: fit-content;
  margin: 4px;
}

.order-titles {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.order-content {
  overflow: auto;
  height: 50vh;
}

.order {
  display: flex;
  width: auto;
  justify-content: space-between;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: rgb(0, 0, 0);
  border-radius: 2px;
  margin: 4px;
  padding: 4px;
  background-color: #F4F4F4;
}

.trade-bar {

}

.trade-quantity {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  margin: 4px;
  border: 2px solid #bfa100;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.buy-button {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  margin: 4px;
  border: 2px solid #bfa100;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.buy-button:hover {
  color: #ffffff !important;
  background: #29E27A;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

.sell-button {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  margin: 4px;
  border: 2px solid #bfa100;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.sell-button:hover {
  color: #ffffff !important;
  background: #D51C2D;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

.trade-form {
  display: inline-grid;
  width: 100%;
}

.form-symbol {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  margin: 4px;
  border: 2px solid #bfa100;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.form-side {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  margin: 4px;
  border: 2px solid #bfa100;
  display: inline-block;
  transition: all 0.4s ease 0s;
}
.form-side::-ms-expand {
    display: none;
}
.form-side:hover {
    border-color: #bfa100;
}
.form-side:focus {
    border-color: #bfa100;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
.form-side option {
    font-weight:normal;
}

.order-submit {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  margin: 4px;
  border: 2px solid #bfa100;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.order-submit:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

.h{
  margin: 100px auto;
  width: 200px;
  height: 120px;
  background:#DBA042;
  border-radius: 100px 20px 20px 40px;
  position: absolute;
  bottom: 5%;
  right: 10%;
  z-index: 5;
  box-shadow:
    3px 3px 0 0px #DB8700,
    /*body*/
    150px 230px 0 40px #DBA042,
     /*body shadow*/
    155px 240px 0 40px #DB8700
}

.h:after{
  content: "";
  display: block;
  width: 25px;
  height: 20px;
  border-radius:50%;
  position: absolute;
  left: 140px;
  top: 10px;
  z-index: 10;
    box-shadow:
    /*main eyelid*/
    3px 10px 0 10px #fff,
    /*main eyelid shadow*/
    3px 20px 0 20px #DB8700,
    /*nose*/
    -130px 40px 0 0 #fff,
     /*nose shadow*/
    -130px 45px 0 0 #DB8700,
    /*mouth*/
    -100px 80px 0 -4px #fff,
    /*mouth shadow*/
    -100px 85px 0 -6px #DB8700
}

.h:before{
  content: "";
  display: block;
  width: 25px;
  height: 70px;
  background:#DBA042;
  border-radius: 150px 20px 0 20px;
  position: absolute;
  left: 145px;
  top: -45px;
  z-index: 1;
  box-shadow:
    /*right ear*/
    30px -5px 0 0px #DBA042,
    /*right ear shadow*/
    33px -5px 0 0px #DB8700,
    /*neck*/
    5px 170px 0 25px #DBA042,
    5px 230px 0 25px #DBA042,
    /*neck longer*/
    10px 175px 0 25px #DB8700,
    /*tail*/
    220px 240px 0 0 #DBA042,
    /*tail shadow*/
    225px 240px 0 0 #DB8700,
    /*front right leg*/
    35px 425px 0 20px #DBA042,
    /*back right shadow leg*/
    30px 425px 0 20px #DB8700,
    /*front left leg*/
    0px 410px 0 20px #DBA042,
    /*back right leg*/
    200px 425px 0 20px #DBA042,
    /*back right shadow leg*/
    195px 425px 0 20px #DB8700,
    /*back left leg*/
    165px 410px 0 20px #DBA042
}

@keyframes wiggle {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 8%;
  }
  100% {
    bottom: 5%;
  }
}

.h:hover {
  animation: wiggle 0.5s infinite;
}
