body {
  font-family: Helvetica;
  background-color: #F2F4F8;
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
}

.gui-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 10%;
  background-color: #1C1B12;
}

.llama-logo {
  max-width:100%;
  object-fit: contain;
  align-self: flex-start;
  padding: 10px 20px;
}

.dashboard {
  position: fixed;
  height: 100%;
  width: 90%;
  left: 10%;
}

.topbar {
  position: fixed;
  background: #FCD302;
  width: 100%;
  height: 10%;
  border-bottom: 2px solid #e4e8f1;
  color: #2f2f2f;
}

.topbar h3 {
  font-weight: 800;
  line-height: 64px;
  padding: 0px 5px;
  margin: 0px 20px;
}

.content {
  display: flex;
  position: fixed;
  height: 90%;
  top: 10%;
  width: 90%;
  padding: 20px;
  overflow: scroll;
}

.info {
  width: 70%;
  padding: 24px;
}

.dash-wrapper {
  width: 100%;
  margin-bottom: 24px;
  padding: 24px;
  background: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(244, 244, 244);
  border-image: initial;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-top: 4px solid rgb(191, 161, 0);
}

.dash-title {
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: rgb(21, 36, 48);
  margin-top: 0px;
  margin-bottom: 7px;
}

.status {
  position: sticky;
  top: 0;
  width: 30%;
  height: 60%;
  margin: 24px;
  padding: 24px;
  background: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(244, 244, 244);
  border-image: initial;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-top: 4px solid rgb(191, 161, 0);
}

.inactive-notification {
  width: 100%;
  padding: 20px;
  background-color: #F5CFD3;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  border-radius: 4px;
  font-weight: 800;
  text-align: center;
}

.active-notification {
  width: 100%;
  padding: 20px;
  background-color: #D1F6E1;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  border-radius: 4px;
  font-weight: 800;
  text-align: center;
}

.position-titles {
  display: flex;
  justify-content: space-between;
}

.position {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: rgb(0, 0, 0);
  border-radius: 2px;
  margin: 4px;
}

.ticker-box {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-family: Helvetica;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: rgb(0, 0, 0);
  border-radius: 2px;
  padding: 4px 8px;
  margin: 4px;
  width: 30%;
}

.symbol {
  font-weight: 800;
  margin: 0 10px 0 0;
}

.current-price {
  width: 15%;
  text-align: end;
}

.qty {
  width: 10%;
  text-align: end;
}

.market-value {
  width: 15%;
  text-align: end;
}

.unrealized-pl {
  width: 15%;
  text-align: end;
}


.order-buttons {
  align-content: flex-end;
  width: 15%;
  min-width: fit-content;
  margin: 4px;
}

.llama-jump {
  width: 80%;
  height: 80%;
}

.trade-bar {
  display: flex;
}

.trade-form {
  display: flex;
}

.form-symbol {
  width: 10%;
}

.order-submit {
  background-color: rgb(191, 161, 0);
  font-family: Helvetica;
  border-style: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
